* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant";
}
$black: #151515;
$green: #1c4531;
$bg_color: #e6e6e6;
$gray: #dfdfdf;
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin-bottom: 0;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

body {
  background-color: $bg_color;
}
// default btn
.title {
  margin-bottom: 22px;
  h2 {
    color: $green;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid $green;
    display: inline-block;
    padding-bottom: 12px;
  }
}
.btn {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 40px;
  font-size: 20px;
  color: $green;
  gap: 16px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid $green;
  border-radius: 100px;
}
.btn:hover {
  border: 1px solid $green;
}

// title style

@import "./parts/header";
@import "./parts/home";
@import "./parts/catalog";
@import "./parts/about";
@import "./parts/accordion";
@import "./parts/responsive";
