* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant";
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

body {
  background-color: #e6e6e6;
}

.title {
  margin-bottom: 22px;
}
.title h2 {
  color: #1c4531;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #1c4531;
  display: inline-block;
  padding-bottom: 12px;
}

.btn {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 40px;
  font-size: 20px;
  color: #1c4531;
  gap: 16px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #1c4531;
  border-radius: 100px;
}

.btn:hover {
  border: 1px solid #1c4531;
}

.header {
  padding: 32px 0;
}
.header_logo {
  color: #151515;
  font-weight: 400;
  font-size: 24px;
  white-space: nowrap;
}
.header .header_nav {
  transition: 0.2s;
}
.header .header_nav .header_links {
  margin-left: 82px;
  gap: 32px;
}
.header .header_nav .header_links li a {
  color: #151515;
  font-size: 22px;
  font-weight: 400;
  opacity: 0.48;
  font-family: "Cormorant";
}
.header .header_nav .header_links .active_li a {
  font-weight: 500;
  opacity: 1;
  padding-bottom: 8px;
  border-bottom: 1px solid #a3a3a3;
}
.header .header_nav .header_right {
  gap: 32px;
}
.header .header_nav .header_right a {
  font-family: none;
  font-size: 20px;
  font-weight: 500;
  color: #151515;
}
.header .header_nav .header_right a img {
  margin-right: 10px;
}
.header .header_nav .header_right .header_cart {
  width: 64px;
  height: 64px;
  border: 1px solid #151515;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .remove_nav {
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0.48;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.home {
  padding: 12px 0;
}
.home_text h1 {
  color: #1c4531;
  font-size: 60px;
  font-weight: 500;
}
.home_text p {
  max-width: 510px;
  margin-top: 24px;
  color: #151515;
  font-size: 20px;
  font-weight: 500;
}
.home_text .home_btn {
  margin-top: 24px;
}

.catalog_cards-wrapper {
  border: 1px solid red;
  gap: 20px;
}

.catalog {
  padding-top: 120px;
}
.catalog_title {
  margin-bottom: 22px;
}
.catalog_title h2 {
  color: #1c4531;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #1c4531;
  display: inline-block;
  padding-bottom: 12px;
}
.catalog_card {
  margin: 10px 0;
  border-radius: 12px;
  background-color: #dfdfdf;
}
.catalog_card-text h5 {
  color: #151515;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-weight: 700;
}
.catalog_card-text .price {
  color: #1c4531;
}
.catalog_btn {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  padding-top: 120px;
}
.about_title {
  margin-bottom: 32px;
}
.about_text p {
  color: #151515;
  font-family: Cormorant;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about_img img {
  border-radius: 12px;
}

.accordion {
  padding-top: 120px;
}
.accordion_button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 72px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #151515;
}
.accordion_button-left span {
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: 500;
  color: #e6e6e6;
  background-color: #1c4531;
  font-family: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion_button-left h5 {
  margin-left: 16px;
  color: #151515;
  font-size: 24px;
  font-weight: 500;
}
.accordion_panel {
  display: none;
}
.accordion_panel p {
  font-size: 18px;
  font-weight: 500;
}

.accordion .row {
  gap: 15px;
}

@media (max-width: 1400px) {
  .header {
    padding: 32px 0;
  }
  .header_logo {
    color: #151515;
    font-weight: 400;
    font-size: 24px;
    white-space: nowrap;
  }
  .header .header_nav {
    width: 400px !important;
    height: 100%;
    background-color: #e6e6e6;
    flex-direction: column;
    padding: 70px 0;
    position: absolute;
    top: 0;
    left: -1000%;
    z-index: 10;
  }
  .header .header_nav .header_links {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .header .header_nav .header_links li a {
    color: #151515;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.48;
    font-family: "Cormorant";
  }
  .header .header_nav .header_links .active_li a {
    font-weight: 500;
    opacity: 1;
    padding-bottom: 8px;
    border-bottom: 1px solid #a3a3a3;
  }
  .header .header_nav .header_right {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .header .header_nav .header_right a {
    font-family: none;
    font-size: 20px;
    font-weight: 500;
    color: #151515;
  }
  .header .header_nav .header_right a img {
    margin-right: 10px;
  }
  .header .header_nav .header_right .header_cart {
    width: 64px;
    height: 64px;
    border: 1px solid #151515;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .remove_nav {
    display: none;
  }
  .remove_nav_active {
    display: block !important;
  }
  .bars {
    display: block !important;
    cursor: pointer;
  }
  .navbar_active {
    left: 0 !important;
  }
}
@media (max-width: 1200px) {
  .home_text h1 {
    color: #1c4531;
    font-size: 50px;
    font-weight: 500;
  }
  .home_text p {
    max-width: 370px;
    margin-top: 24px;
    color: #151515;
    font-size: 20px;
    font-weight: 500;
  }
  .home_text .home_btn {
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
  }
  .catalog_card {
    border-radius: 12px;
    background-color: #dfdfdf;
  }
  .catalog_card-text h5 {
    color: #151515;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 700;
  }
  .about_text p {
    font-size: 18px;
  }
  .about_text p:nth-child(2) {
    margin-top: 15px !important;
  }
  .about_img img {
    border-radius: 12px;
  }
  .btn {
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .home_text h1 {
    color: #1c4531;
    font-size: 40px;
    font-weight: 500;
  }
  .home_text p {
    max-width: 370px;
    margin-top: 15px;
    color: #151515;
    font-size: 20px;
    font-weight: 500;
  }
  .catalog {
    padding-top: 90px;
  }
  .about {
    padding-top: 90px;
  }
  .about_text {
    text-align: center;
  }
  .about_text p {
    font-size: 20px;
  }
  .about_text .about_text-btn {
    margin: 0 auto;
  }
  .about_img {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .header .header_nav {
    width: 320px !important;
  }
  .home_text {
    justify-content: center;
    text-align: center;
  }
  .home_text h1 {
    color: #1c4531;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .home_text p {
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
  }
  .home_img {
    margin-top: 24px;
  }
  .catalog_card {
    border-radius: 12px;
    background-color: #dfdfdf;
  }
  .catalog_card-text h5 {
    color: #151515;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 700;
  }
  .catalog,
  .about {
    padding-top: 60px;
  }
  .accordion {
    padding-top: 120px;
  }
  .accordion_button {
    height: 64px;
  }
  .accordion_button-left span {
    width: 24px;
    height: 24px;
    font-size: 15px;
    font-weight: 500;
  }
  .accordion_button-left h5 {
    margin-left: 16px;
    color: #151515;
    font-size: 18px;
    font-weight: 500;
  }
  .accordion_panel {
    display: none;
  }
  .accordion_panel p {
    font-size: 18px;
    font-weight: 500;
  }
  .btn {
    width: 100%;
    height: 64px;
    justify-content: center;
    font-size: 20px;
  }
  .btn img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 576px) {
  .title h2 {
    font-size: 32px;
  }
}/*# sourceMappingURL=style.css.map */