.catalog_cards-wrapper {
  border: 1px solid red;
  gap: 20px;
}
.catalog {
  padding-top: 120px;
  &_title {
    margin-bottom: 22px;
    h2 {
      color: $green;
      font-size: 48px;
      font-weight: 500;
      line-height: normal;
      border-bottom: 1px solid $green;
      display: inline-block;
      padding-bottom: 12px;
    }
  }
  &_card {
    margin: 10px 0;
    border-radius: 12px;
    background-color: $gray;
    &-text {
      h5 {
        color: $black;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 24px;
        font-weight: 700;
      }
      .price {
        color: $green;
      }
    }
  }

  &_btn {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
