// .container {
//   border: 1px solid red;
// }
@media (max-width: 1400px) {
  .header {
    padding: 32px 0;
    &_logo {
      color: $black;
      font-weight: 400;
      font-size: 24px;
      white-space: nowrap;
    }
    .header_nav {
      width: 400px !important;
      height: 100%;
      background-color: $bg_color;
      flex-direction: column;
      padding: 70px 0;
      position: absolute;
      top: 0;
      left: -1000%;

      z-index: 10;
      .header_links {
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        li {
          a {
            color: $black;
            font-size: 22px;
            font-weight: 400;
            opacity: 0.48;
            font-family: "Cormorant";
          }
        }
        .active_li {
          a {
            font-weight: 500;
            opacity: 1;
            padding-bottom: 8px;
            border-bottom: 1px solid #a3a3a3;
          }
        }
      }
      .header_right {
        flex-direction: column;
        justify-content: center;

        gap: 32px;
        a {
          font-family: none;
          font-size: 20px;
          font-weight: 500;
          color: $black;
          img {
            margin-right: 10px;
          }
        }
        .header_cart {
          width: 64px;
          height: 64px;
          border: 1px solid $black;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
  .remove_nav {
    display: none;
  }
  .remove_nav_active {
    display: block !important;
  }
  .bars {
    display: block !important;
    cursor: pointer;
  }
  .navbar_active {
    left: 0 !important;
  }
}
@media (max-width: 1200px) {
  .home {
    &_text {
      h1 {
        color: $green;
        font-size: 50px;
        font-weight: 500;
      }
      p {
        max-width: 370px;
        margin-top: 24px;
        color: $black;
        font-size: 20px;
        font-weight: 500;
      }
      .home_btn {
        height: 55px;
        padding: 0 30px;
        font-size: 20px;
      }
    }
  }
  // catalog
  .catalog {
    &_card {
      border-radius: 12px;
      background-color: $gray;
      &-text {
        h5 {
          color: $black;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
  // about
  .about {
    &_text {
      p {
        font-size: 18px;
      }
      p:nth-child(2) {
        margin-top: 15px !important;
      }
    }
    &_img {
      img {
        border-radius: 12px;
      }
    }
  }
  // buttons
  .btn {
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .home {
    &_text {
      h1 {
        color: $green;
        font-size: 40px;
        font-weight: 500;
      }
      p {
        max-width: 370px;
        margin-top: 15px;
        color: $black;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  // catalog
  .catalog {
    padding-top: 90px;
  }
  // about
  .about {
    padding-top: 90px;
    &_text {
      text-align: center;
      p {
        font-size: 20px;
      }
      .about_text-btn {
        margin: 0 auto;
      }
    }
    &_img {
      margin-top: 20px;
    }
  }
  // accordion
  .accordion {
    padding-top: 90px;
  }
  // footer
  @media (max-width: 992px) {
    .footer {
      &_form {
        margin: 30px 0;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .header_nav {
      width: 320px !important;
    }
  }
  // home
  .home {
    &_text {
      justify-content: center;
      text-align: center;
      h1 {
        color: $green;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        max-width: 100%;
        margin: 0 auto;
      }
    }
    &_img {
      margin-top: 24px;
    }
  }

  // catalog
  .catalog {
    &_card {
      border-radius: 12px;
      background-color: $gray;
      &-text {
        h5 {
          color: $black;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }

  // about
  @media (max-width: 768px) {
    .footer {
      padding: 32px 0;
      &_left {
        text-align: center;
      }
      &_right {
        text-align: center !important;
      }
    }
  }

  // accordion

  .accordion {
    padding-top: 60px;
    &_button {
      height: 64px;
      &-left {
        span {
          width: 24px;
          height: 24px;
          font-size: 15px;
          font-weight: 500;
        }
        h5 {
          margin-left: 16px;
          color: $black;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    &_panel {
      display: none;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  // footer

  // btn
  .btn {
    width: 100%;
    height: 64px;
    justify-content: center;
    font-size: 20px;
    img {
      width: 32px;
      height: 32px;
    }
  }
}
@media (max-width: 576px) {
  // title
  .title {
    h2 {
      font-size: 32px;
    }
  }
}

// header responsive end
